
@model UniversityManagementSystemWebApp.Models.Course
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet"/>
    
    
    <style>
        .save {
            border: 1px;
            width: 30px;
            height: 20px;

            
        }
    </style>
</head>
<body>
    <form id="signupForm" method="POST">
        <div class="container">

            <div class="row">
                <h1 class="jumbotron text-center" style="background-color: darkcyan"> University Management System</h1>
                <div class="col-md-8 col-md-offset-2">

                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: green">
                            <h1 align="center">Course</h1>
                        </div>
                        <div class="panel-body" style="border-color: black">

                            <div class="col-md-10 margin-bottom">
                                <div>

                                    @using (Html.BeginForm(null, null, FormMethod.Post))
                                    {
                                        <div>
                                            <div>
                                                @Html.Label("Code")
                                            </div>
                                            @Html.TextBox("Code")
                                            @Html.ValidationMessageFor(x => x.Code)
                                        </div>

                                        <div>
                                            @Html.Label("Name")
                                            <div>
                                                @Html.TextBox("Name")
                                                @Html.ValidationMessageFor(x => x.Name)
                                            </div>
                                        </div>
                                        <div>
                                            @Html.Label("Credit")
                                            <div>
                                                @Html.TextBoxFor(x => x.Credit)
                                                @Html.ValidationMessageFor(x => x.Credit)
                                            </div>
                                        </div>

                                        <div>
                                            @Html.Label("Description")
                                            <div>
                                                @Html.TextArea("Description")
                                                @Html.ValidationMessageFor(x => x.Description)
                                            </div>
                                        </div>

                                        <div>
                                            @Html.Label("DepartmentId")
                                            <div>
                                                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"))
                                                @Html.ValidationMessageFor(x => x.DepartmentId)
                                            </div>
                                        </div>

                                        <div>
                                            @Html.Label("SemesterId")
                                            <div>
                                                @Html.DropDownListFor(x => x.SemesterId, new SelectList(ViewBag.Semesters, "Value", "Text"))
                                                @Html.ValidationMessageFor(x => x.SemesterId)
                                            </div>
                                        </div>
                                         <br/>
                                    <div id="save">
                                        <input type="submit" value="Save" class="btn-danger" />
                                    </div>

                                    }

                                    @if (ViewBag.Message != null)
                                    {
                                        <p>@ViewBag.Message</p>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
